#staff {
    width: 786px/*58.5%*/;
    height: 370px/*30%*/;
    float: left;
    border:1px solid black;
    border-radius: 25px;
    box-shadow: 4px 4px 3px 4px #888888;
    margin-right:3px;
}

#neck {
    float: right;
    width: 539px;
    height:587px;
    border:1px solid black;
    border-radius: 25px;
    box-shadow: 4px 4px 3px 4px #888888;
}
.finger {
    right: 327.74px/*24%*/;
}

.rtmxb {
    right: 269.02px/*19.7%*/;
}

.rtmx {
    right: 254px/*18.6%*/;
}

.ltmxb {
    right: 284.04px/*20.8%*/;
}

.ltmx {
    right: 299.06px/*21.9*/;
}
/**********************************************************************************/
.top-level-1{
    position: fixed;
    top: 223.92px/*34%*/;
    background-color: lightgrey;
}
div {
    height: 0.75em;
    width:0.8em;
    background-color: white;
}

div:hover {background-color: #4d79ff;}

/**********************************************************************************/
.top-level-2{
    position: fixed;
    top: 339.1px/*51.4%*/;
}
.top-level-2.finger{top: 320px/*48.5%;*/;}

/**********************************************************************************/
.top-level-3{
    position: fixed;
    top: 422.3px/*64%*/;
}
.top-level-3.finger{top: 402.4px/*61%*/;}

/**********************************************************************************/
.top-level-4{
    position: fixed;
    top: 441.4px/*66.9%*/;
}
.top-level-4.finger{top: 424.9px/*64.4%*/;}

/**********************************************************************************/
#message {
    display: inline-block;
    height: 29%;
    width: 29%;
    background-color: silver;
    font-size: 3em;
    margin: 0px;
    border-radius: 25px;
}

#score {
    display: inline-block;
    background-color: silver;
    font-size: 3em;
    margin: 0px;
    width: 29%;
    border-radius: 25px;
}

span{
    font-size: 30px;
    font-weight: bold;
    margin: 3px;
}

input {
    width: 29.2%;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 3px;
}

input:hover {
    background-color: #ccffff;
}
